# editorconfig.org

# top-most EditorConfig file
root = true

# Two-space indentation
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Four-space indentation required for Python/Ruby files
[*.{py,rb}]
indent_style = space
indent_size = 4

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{.travis.yml,package.json}]
indent_style = space
indent_size = 2
