/* ===========================================================================
   Global Styles
   ===========================================================================*/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $font-stack;
}

body {
  margin: 1rem;
}
